<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/ligas</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.hbm2ddl.auto">update</property>


        <mapping class="org.example.hibernate.entities.Liga"/>
        <mapping class="org.example.hibernate.entities.Equipo"/>
        <mapping class="org.example.hibernate.entities.Partido"/>
   </session-factory>
</hibernate-configuration>